@import "tailwindcss";

:root
{
  --color-primary: #80cbc4;
  --color-background: #0f111a;
  --color-background-alt: #090b10;
  --color-text: #babed8;
  --color-text-light: #eeffff;
  --color-accent: #ffcc00;
  --color-border: #3e445d;
  --color-input-bg: #1a1c25;
  --color-sidebar: #292d3e;
  --color-muted: #464b5d;
  /* helper aliases */
  --accent: var(--color-primary);
  --bg: var(--color-background);
}

body
{
  background: var(--color-background);
  color: var(--color-text);
}

html
{
  overflow: hidden;
}
